---
import Layout from "../layouts/Layout.astro"
---

<Layout title="Welcome to Astro.">
  <main class="m-auto p-4 text-white">
    <h1 class="text-5xl font-bold italic text-center my-4">
      Welcome to Astro + <span
        class="bg-gradient-to-r from-indigo-500 to-blue-500 bg-clip-text text-transparent"
        >Tailwind</span
      >
    </h1>
  </main>
</Layout>
