<div
  class="flex flex-col items-center"
  transition:animate="none"
  transition:name="header"
>
  <div class="flex flex-row items-center justify-around w-full gap-4 h-40">
    <img
      src="/astro.svg"
      alt="astro logo"
      height="102"
      width="90"
      class="w-24 h-40"
    />
    <span class="text-5xl text-neutral-700">x</span>
    <img
      src="/tailwind.svg"
      alt="tailwind logo"
      height="33"
      width="54"
      class="w-24 h-40"
    />
    <span class="text-5xl text-neutral-700">x</span>
    <img
      src="/tauri.png"
      alt="tauri logo"
      height="310"
      width="310"
      class="w-24"
    />
  </div>
</div>
